{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page">
  <section class="about about-page">
    <div class="about__container">
      <div class="about__top">
        <h1 class="about__title ff">О нашей компании «ARTFLORA»</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
            class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1" />
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            О магазине
            <meta itemprop="position" content="2" />
          </span>
        </div>
      </div>
      <div class="about__page-row">
        <div class="about__content">
          <p><i>К каждому индивидуальный подход</i></p>

          <p>За эти годы у нас сформировалась дружная команда опытных флористов. Задача, которую мы ставим перед собой,
            это
            доставить в дом ваших родных и близких людей, как можно больше радостных и счастливых моментов.
          </p>

          <p>
            Наши сотрудники регулярно посещают мастер-классы и повышают свой профессиональный уровень. Мы постоянно
            следим
            за новыми трендами в цветочной индустрии.
          </p>

          <p>В нашм магазине вы сможете заказать букеты, корзины для любого
            вашего
            торжества и события. В случае отсутствия какого-либо цветка, для сборки выбранного вами букета или
            композиции,
            флорист предложит вам заменить его на схожий с сохранением первоначальной цены.
          </p>

          <p>
            За несколько лет нашей работы мы не сталкивались с ситуациями, когда заказчик или получатель оставался
            недоволен
            качеством доставленных цветом. Перед доставкой мы всегда предоставляем заказчику фотографии собранного
            букета,
            чтобы он мог убедиться в качестве исполнения букета и свежести цветка в нем.Но если все таки такая ситуация
            возникнет мы без лишних разговоров пойдем на встречу своему клиенту.
          </p>

          <p>
            В нашем магазине ассортимент не может не радовать глаз – большой выбор свежих цветов по доступным
            ценам. Несколько раз в неделю мы получаем цветок от проверенных годами поставщиков и цветочных плантаций,
            т.к.
            стремимся обеспечить своих клиентов свежим ,качественным и разнообразным ассортиментом.
          </p>
          <div class="about__grid">
            <div class="about__grid-item">
              <div class="about__grid-image">
                <img src="{% static 'theme/mb/images/warranty.svg' %}" alt="">
              </div>
              <p class="about__grid-text ff">
                Качественная продукция
              </p>
            </div>
            <div class="about__grid-item">
              <div class="about__grid-image">
                <img src="{% static 'theme/mb/images/warranty.svg' %}" alt="">
              </div>
              <p class="about__grid-text ff">
                Профессиональная команда
              </p>
            </div>
            <div class="about__grid-item">
              <div class="about__grid-image">
                <img src="{% static 'theme/mb/images/warranty.svg' %}" alt="">
              </div>
              <p class="about__grid-text ff">
                Своевременная доставка
              </p>
            </div>
          </div>
        </div>
        {% if categorys %}
        <div class="about__category">
          <h2 class="ff">Категории</h2>
          <div class="about__category-inner">
            {% for category in categorys %}
            <a href="{{ category.get_absolute_url }}" class="about__category-item">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="reviews" style="background-image: url({% static 'theme/mb/images/reviews.webp' %})">
    <div class="reviews__container">
      <div class="reviews__inner">
        <h2 class="section__title reviews__title ff">Отзывы</h2>
        <div class="reviews__slider">
          <div class="reviews__wrapper swiper-wrapper">
            <div class="reviews__slide swiper-slide">
              <div class="reviews__card">
                <p class="reviews__text">
                  Отличная студия цветов, огромнейший выбор. Хотелось бы отметить прекрасных сотрудниц. Аня, спасибо за
                  Ваш профессионализм, консультацию и организацию доставки
                  цветов. Всё супер! Всё вовремя!Все как хотели! Третий день рад ...
                </p>
                <p class="reviews__name">Иван</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__card">
                <p class="reviews__text">
                  Отличная студия цветов, огромнейший выбор. Хотелось бы отметить прекрасных сотрудниц. Аня, спасибо за
                  Ваш профессионализм, консультацию и организацию доставки
                  цветов. Всё супер! Всё вовремя!Все как хотели! Третий день рад ...
                </p>
                <p class="reviews__name">Иван</p>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev reviews-button-prev"></div>
          <div class="swiper-button-next reviews-button-next"></div>
        </div>
        <a href="#" class="reviews__btn">Читать все отзывы</a>
      </div>
    </div>
  </section>
  <section class="gallery">
    <div class="gallery__container">
      <h2 class="gallery__title ff">Фото работ</h2>
    </div>
  </section>
</main>

{% endblock %}