{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Оформление заказа | ArtFlora {% endblock %}
{% block description %}Оформление заказа{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
<main>
  <section class="order-create">
    <div class="order-create__container">
      <div class="order-create__row">
        <div class="order-create__col">
          <form action="{% url 'order_create' %}" method="POST" class="form">
            <h2 class="order-create__title">Оформление заказа</h2>
            {% csrf_token %}
            <div class="form__item">
              <p class="form__item-title">Кто получит букет ?</p>
              <div class="form__boolean">
                <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_who_get_bouqets"
                  value="Я сам" checked />
                <label for="id_who_get_bouqets" class="form__boolean-label">Я сам</label>
              </div>
              <div class="form__boolean">
                <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_another_man"
                  value="Другой человек" data-id="another" />
                <label for="id_another_man" class="form__boolean-label">Другой человек</label>
              </div>
            </div>
            <div class="form__item">
              <p class="form__item-title">Ваши контакты</p>
              <div class="form__group-grid">
                <div class="form__group">
                  <input type="text" class="form__controls" id="id_first_name"
                    value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name"
                    placeholder="Имя*" required />
                </div>
                <div class="form__group">
                  <input type="text" class="form__controls" id="id_email" name="email"
                    value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="Email*" required />
                </div>
                <div class="form__group">
                  <input type="text" class="form__controls" id="id_phone_number" name="phone" value=""
                    placeholder="Номер телефона*" required />
                </div>
                <div class="form__group">
                  <label for="id_data" class="form__boolean-label">Дата доставки</label>
                  <input type="date" class="form__controls" id="id_data" name="date" value="" />
                </div>
                <div class="form__group">
                  <textarea placeholder="Комментарий к заказу" id="id_message" name="message" class="form__controls" rows="5"></textarea>
                </div>
              </div>
            </div>
            <div class="form__item" id="contact-human">
              <p class="form__item-title">Контакты получателя</p>
              <div class="form__group-grid">
                <div class="form__group">
                  <input type="text" class="form__controls" id="id_first_name_human" value="" name="first_name_human"
                    placeholder="Имя*" />
                </div>
                <div class="form__group">
                  <input type="text" class="form__controls" id="id_phone_number_human" name="phone_number_human"
                    value="" placeholder="Номер телефона *" />
                </div>

                <div class="form__group">
                  <div class="form__group-boolean">
                    <input type="checkbox" name="surprise" id="surprise" class="form__controls-checkbox" />
                    <label for="surprise" class="form__boolean-label">Сюрприз (не предупреждать получателя)</label>
                  </div>
                  <div class="form__group-boolean">
                    <input type="checkbox" name="anonymous" id="anonymous" class="form__controls-checkbox" />
                    <label for="anonymous" class="form__boolean-label">Не говорить от кого</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__item">
              <p class="form__item-title">Адрес доставки</p>
              <div class="form__group" id="id_delivery_address">
                <input required type="text" data-zones="true" data-city="Иркутск" class="form__controls"
                  placeholder="Улица, дом" id="suggest" name="delivery_address" />
                <div id="addressError" class="address-error"></div>
              </div>
<!--              <div class="form__group-boolean">-->
<!--                <input type="checkbox" name="pickup" id="pickup" class="form__controls-checkbox" />-->
<!--                <label for="pickup" class="form__boolean-label">Самовывоз</label>-->
<!--              </div>-->
              <div class="form__group">
                <input type="text" name="pickup" id="finaladress" class="form__controls" />
              </div>
            </div>
            {% comment %}
            <div class="form__item">
              <p class="form__item-title">Способ оплаты:</p>
              <div class="form__group">
<!--                <div class="form__group-boolean">-->
<!--                  <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-1"-->
<!--                    value="На сайте картой" />-->
<!--                  <label class="form__boolean-label" for="id_for_label-1">На сайте картой</label>-->
<!--                </div>-->

                <div class="form__group-boolean">
                  <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-2"
                    value="Курьером при получении" />
                  <label class="form__boolean-label" for="id_for_label-2">Курьером при получении</label>
                </div>
              </div>
            </div>
            {% endcomment %}
            <div class="form__row">
              <input type="checkbox" id="agreement-click" name="agreement" required>
              <label for="agreement-click" class="form__label">
                Я согласен на обработку моих персональных  данных в соответствии с <a href="{% url 'privacy' %}">политикой конфиденциальности</a>
              </label>
            </div>
            <button type="submit" class="form__submit">Оформить заказ</button>
          </form>
        </div>
        <div class="order-create__col">
          <div id="map"></div>
          <div class="order-create__promocode">
            <form action="{% url 'apply' %}" class="form" method="POST">
              {% csrf_token %}
              <div class="form__row">
                <input type="text" name="code" id="code" class="form__controls" placeholder="Промокод" />
                <button type="button" class="form__submit" onclick="applyCoupon()">Применить</button>
              </div>
              <p id="order-create__promocode-error">Промокод недействителен</p>
            </form>
          </div>
          <div class="order-create__information">
            {% load carts_tag %}{% user_carts request as carts %}
            <p class="order-create__info-order"><span>Информация о заказе</span><span>{{ carts.quantity }}</span></p>
            {% for cart in carts %}
            <div class="order-create__item">
              <div class="order-create__thumb">
                {% if cart.product.image %} {% thumbnail cart.product.image "50x50" format="WEBP" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ cart.product.name }}"
                  title="{{ cart.product.name  }}" />
                {% endthumbnail %} {% else %}
                <img src="{% static 'theme/mb/images/no-image.png' %}" alt="{{ cart.product.name }}"
                  title="{{ cart.product.name  }}" />
                {% endif %}
              </div>
              <div class="order-create__info">
                <a href="{{ cart.product.get_absolute_url }}" class="order-create__name">{{ cart.product.name }}</a>
                <p class="order-create__price">{{ cart.quantity }} <span>x</span> {{ cart.product.sell_price }} руб.</p>
              </div>
            </div>
            {% endfor %}
            <!-- <div class="order-create__promocod">
              <form action="" method="POST" id="promocod-form" class="form">
                <input type="search" name="promocod" id="promocod" class="form__controls"
                  placeholder="Введите промокод" />
              </form>
            </div> -->
            <div class="order-create__summ"><span>Сумма:</span> <span id="order-sum">{{ cart.total_price }}</span> руб.
            </div>
            <div id="delivery-price">{{ delivery }}</div>
            <div class="order-create__delivery" id="order-delivery-info"><span>Доставка:</span> от <span
                id="order-delivery"> {{ delivery }}</span> руб.</div>

            <div class="order-create__delivery"><span>Скидка:</span> <span id="discount"> {% if discount %}
                {{ discount }}%{% else %}0%{% endif %}</span></div>

            <div class="order-create__total"><span>Итого:</span> <span id="order-total">{% if total %} {{ total }}
                {% endif %}</span> руб.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}