{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page">
  <section class="about about-page">
    <div class="about__container">
      <div class="about__top">
        <h1 class="about__title ff">Акции</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            Акции
            <meta itemprop="position" content="2"/>
          </span>
        </div>
      </div>
      <section class="stock" style="padding: 50px 0px;">
        <div class="stock__container">
          <div class="stock__inner">
            {% if stocks.count > 0 %} {% for stock in stocks %}
            <div class="stock__row">
              <div class="stock__col">
                <div class="stock__image">
                  {% if stock.image %}
                  <img src="{{ stock.image.url }}" alt="{{ stock.title }}" title="{{ stock.title }}"/>
                  {% else %}
                  <img src="{% static 'theme/mb/images/noimage.webp' %}" alt="Нет изображения" title="Нет изображения"/>
                  {% endif %}
                </div>
              </div>
              <div class="stock__col">
                <div class="stock__col-content">
                  <h3 class="stock__col-title">{{ stock.title }}</h3>
                  <p class="stock__col-text">{{ stock.description }}</p>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <div class="empty">Список акциий пуст</div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}


