asgiref
certifi
charset-normalizer
Django
django-ckeditor-5
django-debug-toolbar
et-xmlfile
idna
numpy
openpyxl
pandas
pillow
python-dateutil
python-slugify
pytils
pytz
requests
six
sorl-thumbnail
sqlparse
text-unidecode
tzdata
urllib3
whitenoise
xlrd
