* {
  // outline: 1px solid red;
}

.footer {
  padding: 50px 0;
  background-color: #222;
}

.footer__grid {
  display: flex;
  justify-content: space-between;
  gap: 60px;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.footer__logo {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.6);
  max-width: 300px;
  line-height: 150%;
  text-wrap: balance;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__nav a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav a:hover {
  color: #fafafa;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social:hover {
  color: #fafafa;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  color: #fafafa;
}

.footer {
  padding: 50px 0;
  background-color: #222;
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
}

.footer__logo {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}


.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__nav a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav a:hover {
  color: #fafafa;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social:hover {
  color: #fafafa;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  color: #fafafa;
}