.header {
  border-bottom: 1px solid rgba($color: $mainColor, $alpha: .05);
}

// .header__inner-pc

.header__inner-pc {
  display: block;
  visibility: visible;

  @media screen and (max-width: 1024px) {
    display: none;
    visibility: hidden;
  }
}

.header__bottom {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #e5e5e5;
  background-color: #f8f8f8;
}

.top-header {
  border-bottom: 1px solid rgba(77, 100, 105, 0.2);
}

.top-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header__nav a:not(:last-child) {
  margin-right: 40px;
}

.top-header__nav a:hover {
  color: #b25f68;
}

.top-header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__socials a img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header__socials a:not(:last-child) {
  margin-right: 20px;
}

.top-header__socials a:hover img {
  opacity: 0.9;
}

.top-header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-header__login img {
  opacity: 0.6 !important;
}

.top-header__login span {
  margin-left: 10px;
}

.middle-header {
  padding: 10px 0;
}

.middle-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.middle-header__logo img {
  width: 86px;
}

.middle-header__search {
  width: clamp(290px, 70vw, 550px);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(77, 100, 105, 0.3);
  overflow: hidden;
  border-radius: 5px;

  @media screen and (max-width: 1220px) {
    width: 290px;
  }
}

.middle-header__search input[type="search"] {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  outline: 0;
}

.middle-header__search input[type="search"]::-webkit-input-placeholder {
  color: rgba(77, 100, 105, 0.5);
}

.middle-header__search input[type="search"]::-moz-placeholder {
  color: rgba(77, 100, 105, 0.5);
}

.middle-header__search input[type="search"]:-ms-input-placeholder {
  color: rgba(77, 100, 105, 0.5);
}

.middle-header__search input[type="search"]::-ms-input-placeholder {
  color: rgba(77, 100, 105, 0.5);
}

.middle-header__search input[type="search"]::placeholder {
  color: rgba(77, 100, 105, 0.5);
}

.middle-header__search button[type="submit"] {
  width: 50px;
  height: 100%;
}

.middle-header__btn {
  width: 220px;
  height: 50px;
  background-color: #b25f68;
  color: #fafafa;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.middle-header__btn:hover {
  background-color: #a13e4a;
}

.middle-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
}

.middle-header__info a {
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 120%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.middle-header__info a:hover {
  color: #b25f68;
}

.middle-header__info p {
  font-size: 12px;
}

.middle-header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.middle-header__action a,
.middle-header__action button {
  padding: 20px;
}

.bottom-header__nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1140px) {
    flex-wrap: wrap;
  }
}

.bottom-header__nav a {
  display: flex;
  padding: 17px 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: rgba($color: $mainColor, $alpha: 1);
  font-family: "Oswald", sans-serif;
  letter-spacing: .5px;

  transition: 0.5s;

  @media screen and (max-width: 1460px) {
    padding: 15px 20px;
  }

  @media screen and (max-width: 1300px) {
    padding: 15px 10px;
  }
}

.bottom-header__nav a:hover {
  background-color: $accent;
  color: $white;
}

.middle-header__cart {
  position: relative;

  img {
    width: 25px;
    height: 20px;
  }
}

.cart_count {
  position: absolute;
  top: 3px;
  right: 5px;
  background-color: rgba($color: $accent, $alpha: 1.0);
  color: rgba($color: $white, $alpha: 1.0);
  font-size: 10px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    top: -6px;
    right: -1px;
  }
}

.header__burger {
  width: 40px;
  height: 30px;
  position: relative;

  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    height: 2px;
    margin-top: -1px;
    background-color: rgba($color: $mainColor, $alpha: .9);
  }

  &::before {
    transform: translateY(-8px);
  }

  &::after {
    transform: translateY(8px);
  }
}

.header-mb {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: $white, $alpha: 1.0);
  z-index: 99;
  box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .3);

  @media screen and (min-width: 1024px) {
    display: none;
  }

  // .header-mb__container

  &__container {}

  // .header-mb__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  // .header-mb__left

  &__left {
    display: flex;
    align-items: center;
    gap: 10px
  }

  // .header-mb__phone

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .header-mb__middle

  &__middle {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  // .header-mb__logo

  &__logo {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .header-mb__right

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  // .header-mb__favorit

  &__favorit {
    // padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 25px;
      height: 20px;
      // height: 100%;
    }
  }

  // .header-mb__cart

  &__cart {
    padding: 5px;
    position: relative;

    img {
      width: 25px;
      // height: 100%;
    }
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 999;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    margin-top: -1px;
    margin-left: -11px;
    background-color: rgba($color: $accent, $alpha: 1.0);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }


}

.hidden-menu {
  position: fixed;
  top: 0;
  left: -150%;
  width: 100%;
  max-width: 400px;
  min-width: 290px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba($color: $white, $alpha: 1.0);
  z-index: 101;
  padding: 50px 0px 10px;
  transition: $animation_speed;

  &._show {
    left: 0%;
  }

  &::-webkit-scrollbar {
    width: 3px;
    /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: rgba($color: $mainColor, $alpha: .2);
    /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $accent, $alpha: 1.0);
    border-radius: 20px;
  }

  // .hidden-menu__search

  &__search {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 10px;

    input {
      border: 1px solid rgba($color: $mainColor, $alpha: .3);
      height: 40px;
      padding: 10px;
      border-radius: 4px;
      width: 100%;
      color: rgba($color: $mainColor, $alpha: .8);
      font-size: 14px;

      &:placeholder {
        color: rgba($color: $mainColor, $alpha: .8);
      }
    }
  }

  // .hidden-menu__search-btn

  &__search-btn {
    width: 50px;
    height: 40px;
  }

  // .hidden-menu__ul

  &__list {
    border-top: 1px solid rgba($color: $accent, $alpha: 1.0);
  }

  // .hidden-menu__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      font-weight: 600;
    }
  }

  // .hidden-menu__item-inner

  &__item-inner {
    border-top: 1px solid rgba($color: $mainColor, $alpha: .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      font-weight: 600;
    }

    button {
      padding: 10px;
    }
  }

  // .hidden-menu__action
  &__action {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgba($color: $accent, $alpha: 1.0);

    a {
      font-weight: 600;
    }

    button {
      text-align: left;
      color: rgba($color: $accent, $alpha: 1.0);
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.hidden-submenu {
  display: none;
  width: 100%;
  background-color: rgba($color: $mainColor, $alpha: .02);

  &._show {
    display: block;
  }

  // .hidden-submenu__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
      border-top: 1px solid rgba($color: $mainColor, $alpha: .1);
    }
  }
}