.index-slider {
  margin-top: 10px;
}

.index-slider__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  min-width: 0;
}

.index-slider__slider {
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
}

.index-slider__slider:hover .index-slider-prev {
  left: 20px;
  opacity: 1;
}

.index-slider__slider:hover .index-slider-next {
  right: 20px;
  opacity: 1;
}

.index-slider__wrapper {
  min-width: 0;
}

.index-slider__slide {
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
}

.index-slider .swiper-slide-active .index-slider__title {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.index-slider .swiper-slide-active .index-slider__subtitle {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.index-slider .swiper-slide-active .index-slider__btn {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.index-slider__title {
  font-size: 39px;
  text-wrap: balance;
  max-width: 630px;
  font-family: Forum, serif;
  line-height: 120%;
  margin-bottom: 20px;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index-slider__subtitle {
  font-size: 18px;
  text-wrap: balance;
  max-width: 700px;
  line-height: 150%;
  color: rgba(77, 100, 105, 0.8);
  margin-bottom: 40px;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index-slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 290px;
  height: 50px;
  color: #fafafa;
  font-size: 16px;
  background-color: #b25f68;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index-slider__grid-col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10%;
  flex: 1 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.index-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 290px;
  position: relative;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  font-size: 23px;
  color: #fafafa;
  overflow: hidden;
  border-radius: 5px;
  font-family: Forum, serif;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, rgba(0, 0, 0, 0.4)), to(rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 35%, rgba(228, 227, 232, 0) 100%);
}

.index-slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.index-slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.3)), to(rgba(228, 227, 232, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 100%, rgba(228, 227, 232, 0.3) 100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.index-slider__item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.index-slider__item:hover::before {
  opacity: 1;
}

.index-slider__item-title {
  position: relative;
  z-index: 2;
}

.index-slider .index-slider-next,
.index-slider .index-slider-prev {
  background-color: #fafafa;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.index-slider .index-slider-next::after,
.index-slider .index-slider-prev::after {
  font-size: 18px;
  color: #4d6469;
}

.index-slider .index-slider-prev {
  left: 0;
}

.index-slider .index-slider-next {
  right: 0;
}

.index-slider .swiper-pagination-bullet {
  background-color: #4d6469;
}

.advantage__grid {
  padding: 50px 0;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.advantage__icon {
  margin-bottom: 10px;
}

.advantage__title {
  font-size: 16px;
  font-weight: 600;
}

.advantage__subtitle {
  line-height: 150%;
}

.population {
  padding: 100px 0 50px !important;
}

.novelty {
  background-color: #fafafa;
}

.section {
  padding: 50px 0;
}

.section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 40px;
}

.section__top .line-left {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(77, 100, 105, 0.4);
}

.section__top .line-right {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(77, 100, 105, 0.4);
}

.section__title {
  font-size: 30px;
  white-space: nowrap;
}

.section__link {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

.section__link:hover {
  color: #b25f68;
}

.section__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.section .swiper-button-next,
.section .swiper-button-prev {
  background-color: #fafafa;
  width: 40px;
  height: 40px;
}

.section .swiper-button-next::after,
.section .swiper-button-prev::after {
  font-size: 16px;
  color: #b25f68;
}

.section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 290px;
  height: 50px;
  background-color: #b25f68;
  color: #fafafa;
  margin: 0 auto;
  margin-top: 50px;
}

.card-section {
  position: relative;
}

.card-section__image {
  width: 100%;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.card-section__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-section__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: 400;
  font-family: Forum, serif;
  color: #4d6469;
  padding: 20px 0;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-section__name:hover {
  color: #b25f68;
}

.card-section__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.card-section__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid rgba(178, 95, 104, 0.1);
  padding: 10px 0;
  margin-top: 10px;
}

.card-section__btn {
  padding: 0 10px;
}

.card-section__btn svg {
  -webkit-transition: 0s;
  transition: 0s;
}

.card-section__btn:hover svg {
  fill: #c05b5e;
}

.card-section .add-one-click {
  font-size: 18px;
  font-family: Forum, serif;
}

.card-section .add-one-click:hover {
  color: #c05b5e;
}

.card-section .add-to-favorit {
  padding: 0 0 0 10px;
}

.card-section .add-to-favorit svg {
  -webkit-transition: 0s;
  transition: 0s;
}

.card-section .add-to-favorit:hover svg {
  fill: #c05b5e;
}

.catalog {
  padding: 50px 0;
}

.catalog__head {
  margin-bottom: 30px;
}

.catalog__title {
  font-size: 40px;
  font-family: Forum, serif;
}

.catalog__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
  gap: 50px;
}

.catalog__item {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 5%, rgba(228, 227, 232, 0) 50%);
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 100%, rgba(228, 227, 232, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-catalog {
  overflow: hidden;
}

.item-catalog:hover .item-catalog__image {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item-catalog:hover::after {
  opacity: 1;
}

.item-catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-catalog__content {
  position: relative;
  z-index: 1;
}

.item-catalog__underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.6);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 11px;
}

.item-catalog__name {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 10px;
}

.item-catalog__text {
  font-size: 16px;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-catalog__count {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(250, 250, 250, 0.7);
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fafafa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
}



.reviews {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews__inner {
  text-align: center;
}

.reviews__title {
  text-align: center;
  margin-bottom: 40px;
}

.reviews__slider {
  position: relative;
}

.reviews__text {
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 150%;
  font-style: italic;
  font-weight: 300;
}

.reviews__name {
  margin-top: 40px;
  font-size: 20px;
}

.reviews__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px !important;
  height: 50px;
  width: 200px;
  color: #fafafa;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #b25f68;
}

.reviews .reviews-button-next,
.reviews .reviews-button-prev {
  z-index: 3 !important;
}

.reviews .reviews-button-next::after,
.reviews .reviews-button-prev::after {
  font-size: 20px !important;
  color: #4d6469;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviews .reviews-button-prev {
  left: 15%;
}

.reviews .reviews-button-next {
  right: 15%;
}


.about {
  padding: 50px 0;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.about__image {
  width: clamp(290px, 60vw, 687px);
}

.about__image img {
  max-width: 100%;
}

.about__undertitle {
  font-size: 10px;
  color: rgba(77, 100, 105, 0.6);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.about__title {
  margin-bottom: 20px;
}

.about__text p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 150%;
}

.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #b25f68;
  height: 50px;
  width: 250px;
  color: #fafafa;
}

.contact {
  padding: 50px 0;
  background-color: #fafafa;
}

.contact__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  gap: 40px;
  margin-top: 50px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__map {
  margin-top: 40px;
  width: 100%;
  height: 450px;
}

.contact__map img {
  width: 100%;
}


/*
* разобраться откуда стили
*/


.blog {
  padding: 50px 0;
}

.blog__inner {
  display: -ms-grid;
  display: grid;
}

.blog__title {
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.blog__row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  gap: 30px;
  margin-top: 60px;
}

.blog__item {
  max-width: 367px;
  text-align: center;
}

.blog__date {
  color: #bfbfbf;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 14px;
}

.blog__link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 26px;
}

.blog__excerpt {
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.blog__button {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -ms-grid-column-align: center;
  justify-self: center;
}