.index-slider {
  margin-top: 10px;

  @media screen and (max-width: 1024px) {
    margin-top: 98px;
  }
}

.index-slider__grid {
  display: flex;
  gap: 30px;
  min-width: 0;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.index-slider__slider {
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;

  @media screen and (min-width: 1024px) {
    flex: 1 1 60%;
  }
}

.index-slider__slider:hover .index-slider-prev {
  left: 20px;
  opacity: 1;
}

.index-slider__slider:hover .index-slider-next {
  right: 20px;
  opacity: 1;
}

.index-slider__wrapper {
  min-width: 0;
}

.index-slider__slide {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
  min-height: 400px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: .2);
  }


  @media screen and (max-width: 768px) {
    padding: 40px 40px;
  }

  @media screen and (max-width: 600px) {
    padding: 40px 20px;
  }
}

.index-slider .swiper-slide-active .index-slider__title {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.5s;
}

.index-slider .swiper-slide-active .index-slider__subtitle {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.7s;
}

.index-slider .swiper-slide-active .index-slider__btn {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.9s;
}

.index-slider__title {
  font-size: 50px;
  color: rgba($color: $white, $alpha: 1.0);
  text-wrap: balance;
  max-width: 630px;
  line-height: 120%;
  margin-bottom: 20px;
  transform: translateX(-100px);
  opacity: 0;
  transition: 0.5s;

  @media screen and (max-width: 600px) {
    font-size: 30px;
    max-width: 100%;
  }
}

.index-slider__subtitle {
  font-size: 18px;
  text-wrap: balance;
  max-width: 700px;
  line-height: 150%;
  color: rgba($color: $white, $alpha: 1.0);
  margin-bottom: 40px;
  transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    max-width: 100%;
  }
}

.index-slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 50px;
  color: #fafafa;
  font-size: 16px;
  background-color: #b25f68;
  border-radius: 5px;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s;

  @media screen and (max-width: 600px) {
    width: 230px;
  }
}

.index-slider__grid-col {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
  }
}

.index-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 290px;
  position: relative;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 20px;
  font-size: 23px;
  color: #fafafa;
  overflow: hidden;
  border-radius: 5px;
  font-family: Forum, serif;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, rgba(0, 0, 0, 0.4)), to(rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 35%, rgba(228, 227, 232, 0) 100%);
}

.index-slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.index-slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.3)), to(rgba(228, 227, 232, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 100%, rgba(228, 227, 232, 0.3) 100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.index-slider__item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.index-slider__item:hover::before {
  opacity: 1;
}

.index-slider__item-title {
  position: relative;
  z-index: 2;
  font-family: $fontTitle;
  font-size: 22px;
}

.index-slider .index-slider-next,
.index-slider .index-slider-prev {
  background-color: #fafafa;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.index-slider .index-slider-next::after,
.index-slider .index-slider-prev::after {
  font-size: 18px;
  color: #4d6469;
}

.index-slider .index-slider-prev {
  left: 0;
}

.index-slider .index-slider-next {
  right: 0;
}

.index-slider .swiper-pagination-bullet {
  background-color: #4d6469;
}

.advantage__grid {
  padding: 50px 0;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.advantage__icon {
  margin-bottom: 10px;
}

.advantage__title {
  font-size: 16px;
  font-weight: 600;
}

.advantage__subtitle {
  line-height: 150%;
}

.section {
  padding: 50px 0;
}

.section__top {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 40px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.section__top .line-left {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(77, 100, 105, 0.4);

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.section__top .line-right {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(77, 100, 105, 0.4);

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.section__title {
  font-size: 30px;
  font-family: Forum, serif;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.section__link {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

.section__link:hover {
  color: #b25f68;
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.section .swiper-button-next,
.section .swiper-button-prev {
  background-color: #fafafa;
  width: 40px;
  height: 40px;
}

.section .swiper-button-next::after,
.section .swiper-button-prev::after {
  font-size: 16px;
  color: #b25f68;
}

.section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 50px;
  background-color: #b25f68;
  color: #fafafa;
  margin: 0 auto;
  margin-top: 50px;
}

.card-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-section__image {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 1300px) {
    height: 245px;
  }

  @media screen and (max-width: 640px) {
    height: 200px;
  }
}

.card-section__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.card-section__name {
  display: flex;
  flex: 1 1 auto;
  font-size: 25px;
  font-weight: 400;
  font-family: Forum, serif;
  color: #4d6469;
  padding: 20px 0;
  transition: 0.5s;

  @media screen and (max-width: 1300px) {
    font-size: 20px;
  }

  @media screen and (max-width: 640px) {
    font-size: 18px;
  }
}

.card-section__name:hover {
  color: #b25f68;
}

.card-section__price {
  display: flex;
  font-size: 20px;

  @media screen and (max-width: 1300px) {
    font-size: 16px;
  }

  @media screen and (max-width: 640px) {
    font-size: 16px;
  }
}

.card-section__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(178, 95, 104, 0.1);
  padding: 10px 0;
  margin-top: 10px;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    gap: 10px;
  }
}

.card-section__btn {
  padding: 0 10px;
}

.card-section__btn svg {
  -webkit-transition: 0s;
  transition: 0s;
}

.card-section__btn:hover svg {
  fill: #c05b5e;
}

.card-section .add-one-click {
  font-size: 18px;

  @media screen and (max-width: 640px) {
    width: 100%;
    height: 30px;
    border: 1px solid rgba($color: $mainColor, $alpha: 1.0);
    border-radius: 4px;
    font-size: 12px;
  }
}

.card-section .add-one-click:hover {
  color: #c05b5e;
}

.add-to-favorit {
  padding: 0 0 0 10px;

  @media screen and (max-width: 640px) {
    display: none;
  }

  &._active {
    svg {
      fill: rgba($color: $accent, $alpha: 1.0);
    }
  }
}

.card-section .add-to-favorit svg {
  -webkit-transition: 0s;
  transition: 0s;
}

.card-section .add-to-favorit:hover svg {
  fill: #c05b5e;
}

.catalog {
  padding: 50px 0;
}

.catalog__head {
  margin-bottom: 30px;
}

.catalog__title {
  font-size: 40px;
  font-family: Forum, serif;
}

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;

  @media screen and (max-width: 664px) {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  }
}

.catalog__item {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 5%, rgba(228, 227, 232, 0) 50%);
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(228, 227, 232, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 100%, rgba(228, 227, 232, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-catalog {
  overflow: hidden;
}

.item-catalog:hover .item-catalog__image {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item-catalog:hover::after {
  opacity: 1;
}

.item-catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  transition: 0.5s;
}

.item-catalog__content {
  position: relative;
  z-index: 1;
}

.item-catalog__underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.6);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 11px;
}

.item-catalog__name {
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 10px;
}

.item-catalog__text {
  font-size: 16px;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item-catalog__count {
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(250, 250, 250, 0.7);
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fafafa;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
}

.population {

  @media screen and (min-width: 768px) {
    padding: 100px 0 50px !important;
  }
}

.novelty {
  background-color: #fafafa;
}

.reviews {
  padding: 100px 0;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.reviews__inner {
  text-align: center;
}

.reviews__title {
  text-align: center;
  margin-bottom: 40px;
}

.reviews__slider {
  position: relative;
}

.reviews__text {
  max-width: 750px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 150%;
  font-style: italic;
  font-weight: 300;

  @media screen and (max-width: 425px) {
    font-size: 16px;
  }
}

.reviews__name {
  margin-top: 40px;
  font-size: 20px;
}

.reviews__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px !important;
  height: 50px;
  width: 200px;
  color: #fafafa;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #b25f68;
}

.reviews .reviews-button-next,
.reviews .reviews-button-prev {
  z-index: 3 !important;
}

.reviews .reviews-button-next::after,
.reviews .reviews-button-prev::after {
  font-size: 20px !important;
  color: #4d6469;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviews .reviews-button-prev {
  left: 7%;

  @media screen and (max-width: 920px) {
    top: 100%;
  }
}

.reviews .reviews-button-next {
  right: 7%;

  @media screen and (max-width: 920px) {
    top: 100%;
  }
}

.faq {
  padding: 50px 0;
}

.faq .spollers {
  gap: 20px;
}

.faq .spollers__title {
  border-radius: 0;
  height: 70px;
  font-size: 18px;
}

.faq .spollers__title::after,
.faq .spollers__title::before {
  width: 10px;
  background-color: #4d6469;
}

.faq .spollers__body {
  font-size: 16px;
}

ce

.about {
  padding: 50px 0;
}

.about__row {
  display: flex;
  gap: 60px;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.about__image {
  width: 100%;
  height: 100%;
}

.about__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__undertitle {
  font-size: 10px;
  color: rgba(77, 100, 105, 0.6);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.about__title {
  margin-bottom: 20px;
}

.about__text p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 150%;
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b25f68;
  height: 50px;
  width: 250px;
  color: #fafafa;

  @media screen and (max-width: 520px) {
    width: 100%;
  }
}

.footer {
  padding: 50px 0;
  background-color: #222;
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
}

.footer__logo {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__nav a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav a:hover {
  color: #fafafa;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social:hover {
  color: #fafafa;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  color: #fafafa;
}

.footer {
  padding: 50px 0;
  background-color: #222;
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
}

.footer__logo {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}


.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__nav a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 20px;
}

.footer__nav a:hover {
  color: #fafafa;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social:hover {
  color: #fafafa;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  font-size: 16px;
  color: #fafafa;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

.cookie-notice {
  display: none;
  width: 60%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #384b5a;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  line-height: 150%;
  z-index: 1000;

  a {
    color: #b25f68;
    text-decoration: underline;
  }
}

.accept-cookies {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

