.content {
  display: flex;
  justify-content: flex-end;
  // height: 100vh;
  overflow: hidden;
  background: rgb(166, 199, 201);
  background: linear-gradient(29deg, rgba(166, 199, 201, 0.835171568627451) 40%, rgba(166, 172, 207, 0.7791491596638656) 100%);

  // .content__inner
  &__inner {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 20px;
  }
}