{% extends 'admin_base.html' %}{% load thumbnail %} {% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Промокоды</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{% url 'admin_category' %}">Список промокодов</a></li>
      </ul>
    </div>
    <div class="page__content content-page">
      <div class="content-page__action">
        <a href="{% url 'promo_add' %}" class="action-button">Создать</a>
      </div>
      <div class="table-6">
        <div class="head-table table-6__head">
          <div>Код</div>
          <div>Действует от</div>
          <div>Действует до</div>
          <div>Скидка</div>
          <div>Статус</div>
          <div>Действия</div>
        </div>
        <div class="body-table table-6__body">
          {% for item in items %}
          <div class="body-table__row">
            <div class="body-table__image">
              <p>{{ item.code }}</p>
            </div>
            <div class="body-table__name">
              <p>{{ item.valid_from }}</p>
            </div>
            <div class="body-table__name">
              <p>{{ item.valid_to }}</p>
            </div>
            <div class="body-table__name">
              <p>{{ item.discount }}</p>
            </div>
            <div class="body-table__name">
              <p>{% if item.active %}Активен{%else%}Не активен{% endif %}</p>
            </div>
            <div class="body-table__action">
              <a href="{% url 'promo_edit' item.id %}" class="edit" title="Редактировать категорию">
                <img src="{% static 'theme/mb/images/admin/edit.svg' %}" alt="">
              </a>
              <a href="{% url 'promo_delete' item.id %}" class="remove" title="Удалить категорию">
                <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <style>
                      .cls-1 {
                          fill: none;
                          stroke: #fff;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 2px;
                      }
                  </style>
                </defs>
                <title />
                <g id="trash">
                  <rect class="cls-1" height="22" width="18" x="7" y="7" />
                  <line class="cls-1" x1="3" x2="29" y1="7" y2="7" />
                  <line class="cls-1" x1="13" x2="19" y1="3" y2="3" />
                  <line class="cls-1" x1="13" x2="13" y1="12" y2="22" />
                  <line class="cls-1" x1="19" x2="19" y1="12" y2="22" />
                </g>
              </svg>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}