<footer class="footer">
  <div class="footer__container">
    <div class="footer__grid">
      <div class="footer__col">
        <div class="footer__logo ff">ARTFLORA</div>
        <div class="footer__requisites">
          <div class="footer__text"><span>ИП:</span> Кустова Наталья Витальевна</div>
          <div class="footer__text"><span>ЮР. адрес:</span> г. Иркутск, ул. Вампилова, д. 2/2</div>
          <div class="footer__text"><span>ИНН:</span> 381259157835</div>
          <div class="footer__text"><span>ОГРНИП:</span> 307381214500025</div>
        </div>
      </div>
      <div class="footer__col">
        <p class="footer__title ff">Компания</p>
        <nav class="footer__nav">
          <a href="{% url 'about' %}">О магазине</a>
          <a href="{% url 'delivery' %}">Доставка и оплата</a>
          {% comment %} <a href="{% url 'reviews' %}">Отзывы</a> {% endcomment %}
          <a href="{% url 'cookie' %}" target="_blank">Политика в отношении файлов cookie</a>
          <a href="{% url 'privacy' %}" target="_blank">Политика конфиденциаьности</a>
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title ff">Каталог</p>
        <nav class="footer__nav">
          {% for category in categorys %}
          <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
          {% endfor %}
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title ff">Полезные ссылки</p>
        <nav class="footer__nav">
          {% if user.is_authenticated %}
          <a href="{% url 'user:profile' %}">Личный кабинет</a>
          {% endif %} {% if not user.is_authenticated %}
          <a href="{% url 'user:login' %}">Авторизация</a>
          {% endif %}
          <a href="{% url 'contact' %}">Контакты</a>
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title ff">Контакты</p>
        <a href="tel:89999999999" class="footer__social">{{ site_settings.phone }}</a>
        <a href="mailto:artflora-irk@yandex.ru" class="footer__social">{{ site_settings.email }}</a>
        <p class="footer__social">{{ site_settings.address }}</p>
        {% comment %} {% if messanger_header %}
        <div class="footer__socials">
          {% for mes in messanger_header %}
          <a href="{{ mes.link }}" class="social-link"> <img src="{{ mes.icon.url }}" alt="{{ mes.name }}"
                                                             title="{{ mes.name }}"/></a>
          {% endfor %}
        </div>
        {% endif %} {% endcomment %}
      </div>
    </div>
    <div class="footer__author">Разработка сайта | <a href="#"> РА Аврора</a></div>
  </div>
</footer>
<div id="cookie-notice" class="cookie-notice">
  Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше.
  Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов
  <a href="{% url 'cookie' %}" target="_blank">cookie</a> и
  <a href="{% url 'privacy' %}" target="_blank">политикой конфиденциаьности.</a>


  <button id="accept-cookies" class="accept-cookies">Я согласен</button>
</div>



