{% load static %}
<header class="header">
  <div class="header__top top-header">
    <div class="header__container">
      <div class="top-header__inner">
        <nav class="top-header__nav">
          {% comment %} <a href="https://avroratomsk.github.io/art-flora/">Доставка</a> {% endcomment %} {% comment %}
          <a href="https://avroratomsk.github.io/art-flora/">Оплата</a> {% endcomment %}
          <a href="https://avroratomsk.github.io/art-flora/">Отзывы</a>
          <a href="https://avroratomsk.github.io/art-flora/">О магазине</a>
          <a href="{% url 'contact' %}">Контакты</a>
        </nav>
        <div class="top-header__socials">
          <a href=""> <img src="{% static 'theme/mb/images/icon/vk.png' %}" alt="" /></a>
          <a href=""> <img src="{% static 'theme/mb/images/icon/viber.png' %}" alt="" /></a>
          <a href=""> <img src="{% static 'theme/mb/images/icon/whatsapp.png' %}" alt="" /></a>
          <a href=""> <img src="{% static 'theme/mb/images/icon/telegram.png' %}" alt="" /></a>
          <a href="{% url 'user:login' %}" class="top-header__login">
            <img src="{% static 'theme/mb/images/icon/i-login.svg' %}" alt="" />
            <span>Войти / Регистрация</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__middle middle-header">
    <div class="middle-header__container">
      <div class="middle-header__inner">
        <a href="/" class="middle-header__logo logo">
          <img src="{% static 'theme/mb/images/logo.png' %}" alt="" />
        </a>
        <div class="middle-header__search">
          <input type="search" name="search" id="search" placeholder="Найти в каталоге" />
          <button type="submit">
            <img src="{% static 'theme/mb/images/icon/i-search.svg' %}" alt="" />
          </button>
        </div>
        <button type="button" class="middle-header__btn">Заказать звонок</button>
        <div class="middle-header__info">
          <a href="tel:+79025133003">+7 (902) 513-30-03</a>
          <a href="tel:+73952623003">+7 (3952) 62-30-03</a>
          <p>Работаем круглосуточно</p>
        </div>
        <div class="middle-header__action">
          <button type="button" class="middle-header__favorit">
            <img src="{% static 'theme/mb/images/icon/i-favorits.svg' %}" alt="" />
          </button>
          <button type="button" class="middle-header__cart" id="show-cart">
            <img src="{% static 'theme/mb/images/icon/i-cart.svg' %}" alt="" />
            <span class="cart_count">10</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom bottom-header">
    <div class="header__container">
      <div class="bottom-header__nav">
        {% for item in menu %}
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
        {% endfor %}
        <a href="{% url 'category' %}">Каталог</a>
        <a href="{% url 'populate' %}">Популярные</a>
      </div>
    </div>
  </div>
</header>
