{% load static %}{% load carts_tag %}
<header class="header">
  <div class="header__inner-pc">
    <div class="header__top top-header">
      <div class="header__container">
        <div class="top-header__inner">
          <nav class="top-header__nav">
            {% comment %} <a href="">Отзывы</a> {% endcomment %}
            <a href="{% url 'about' %}">О магазине</a>
            <a href="{% url 'contact' %}">Контакты</a>
            <a href="{% url 'delivery' %}">Доставка и оплата</a>
          </nav>
          <div class="top-header__socials">
            {% if messanger_header %} {% for mes in messanger_header %}
            <a href="{{ mes.link }}"> <img src="{{ mes.icon.url }}" alt="{{ mes.name }}" title="{{ mes.name }}" /></a>
            {% endfor %} {% endif %} {% if user.is_authenticated %}
            <a href="{% url 'user:profile' %}" class="top-header__login">
              <img src="{% static 'theme/mb/images/icon/i-login.svg' %}" alt="" />
              <span>Личный кабинет</span>
            </a>
            {% else %}
            <a href="{% url 'user:login' %}" class="top-header__login">
              <img src="{% static 'theme/mb/images/icon/i-login.svg' %}" alt="" />
              <span>Войти / Регистрация</span>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="header__middle middle-header">
      <div class="middle-header__container">
        <div class="middle-header__inner">
          <a href="/" class="middle-header__logo logo">
            <img src="{% static 'theme/mb/images/logo.png' %}" alt="" />
          </a>
          <form method="GET" action="{% url 'search' %}" class="middle-header__search">
            <input type="search" name="search" id="search" placeholder="Найти в каталоге" />
            <button type="submit">
              <img src="{% static 'theme/mb/images/icon/i-search.svg' %}" alt="" />
            </button>
          </form>
          <button type="button" class="middle-header__btn" data-popup="callback">Заказать звонок</button>
          <div class="middle-header__info">
            <a href="tel:+79025133003">+7 (902) 513-30-03</a>
            <a href="tel:+73952623003">+7 (3952) 62-30-03</a>
            <p>Работаем круглосуточно</p>
          </div>
          <div class="middle-header__action">
            <a href="{% url 'favorites' %}" type="button" class="header-mb__favorit" id="favorites">
              {% if favorites_count %}
              <span class="favorite_count" id="count">{{ favorites_count }}</span>
              {% endif %}
              <img src="{% static 'theme/mb/images/icon/i-favorits.svg' %}" alt="" />
            </a>
            <button type="button" {% if request.path == "/orders/create/" %}disabled{% endif %} class="middle-header__cart" id="show-cart">
              <img src="{% static 'theme/mb/images/icon/i-cart.svg' %}" alt="" />
              {% user_carts request as carts %} {% if carts %}
              <span class="cart_count">{{ carts.total_quantity }}</span>
              {% endif %}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom bottom-header">
      <div class="header__container">
        <div class="bottom-header__nav">
          {% for item in menu %}
          <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
          <!-- <ul>
            <li><a href="">sasdasd</a></li>
          </ul> -->
          {% endfor %}
          <a href="{% url 'category' %}">Каталог</a>
          <a href="{% url 'populate' %}">Популярные</a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__mb header-mb">
    <div class="header-mb__container">
      <div class="header-mb__inner">
        <div class="header-mb__left">
          <button type="button" class="header__burger" id="burger"><span></span></button>
          <a href="" class="header-mb__phone">
            <img src="{% static 'theme/mb/images/i-phone.svg' %}" alt="" />
          </a>
        </div>
        <div class="header-mb__middle">
          <a href="/" class="header-mb__logo">
            <img src="{% static 'theme/mb/images/logo.png' %}" alt="" />
          </a>
        </div>
        <div class="header-mb__right">
          <button type="button" class="header-mb__favorit" id="favorites">
            <span class="favorite_count">1</span>
            <img src="{% static 'theme/mb/images/icon/i-favorits.svg' %}" alt="" />
          </button>
          <button type="button" class="header-mb__cart" id="show-cart">
            <img src="{% static 'theme/mb/images/icon/i-cart.svg' %}" alt="" />
            {% user_carts request as carts %} {% if carts %}
            <span class="cart_count">{{ carts.total_quantity }}</span>
            {% endif %}
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="hidden-menu">
  <button class="close-menu close" id="close-menu"><span></span></button>
  <form action="{% url 'search' %}" method="GET" class="hidden-menu__search">
    {% csrf_token %}
    <input type="search" placeholder="Найти.." value="" name="search" />
    <button type="submit" class="hidden-menu__search-btn">
      <img src="{% static 'theme/mb/images/icon/i-search.svg' %}" alt="" />
    </button>
  </form>
  <ul class="hidden-menu__list">
    {% for item in menu %}
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
        <button type="button" class="submenu-show"><i class="fa-solid fa-chevron-down"></i></button>
      </div>
      <ul class="hidden-submenu">
        {% for subitem in menus_pr %} {% if item.name == subitem.category.name %}
        <li class="hidden-submenu__item">
          <a href="{{ subitem.get_absolute_url }}">{{ subitem.name }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  <ul class="hidden-menu__list">
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="">Популярные</a>
      </div>
    </li>
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="">Контакты</a>
      </div>
    </li>
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="">Акции</a>
      </div>
    </li>
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="{% url 'about' %}">О магазине</a>
      </div>
    </li>
    <li class="hidden-menu__item">
      <div class="hidden-menu__item-inner">
        <a href="">Авторизация</a>
      </div>
    </li>
  </ul>
  <div class="hidden-menu__action">
    <a href="tel:89999999999">8 (999) 999-99-99</a>
    <button type="button">Заказть звонок</button>
  </div>
</div>
