{% load static %}
<div class="popup" id="popup-one-click">
  <div class="popup__content">
    <button type="button" class="popup__close close-btn"></button>
    <div class="popup__body">
      <h3 class="popup__title">Заказ в один клик</h3>
      <div class="popup__product">
        <div class="popup__product-image">
          <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" title="" class="popup__product-img" />
        </div>
        <div class="popup__product-info">
          <p class="popup__product-name">Товар номер 1</p>
          <p class="popup__product-total"><span>Сумма: </span><span class="product__price-text">1990₽</span></p>
        </div>
      </div>
      <form action="" method="POST" class="popup__product-form form">
        <input type="text" placeholder="Имя" class="form__controls" />
        <input type="text" placeholder="Номер телефона" class="form__controls" />
        <button type="submit" class="form__submit">Отправить</button>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="callback">
  <div class="popup__content">
    <h3 class="popup__title">Перезвоните мне</h3>
    <button type="button" class="popup__close close-btn"></button>
    <form action="{% url 'callback' %}" class="popup__form form" method="POST">
      {% csrf_token %} {{ form.name }} {{ form.phone }} {{ form.message }}
      <button type="submit" class="form__submit">Отправить</button>
    </form>
  </div>
</div>

<div class="popup" id="order">
  <div class="popup__order">
    <form action="{% url 'order_create' %}" method="POST" class="form">
      <h2 class="order-create__title">Оформление заказа</h2>
      {% csrf_token %}
      <div class="form__item">
        <p class="form__item-title">Кто получит букет ?</p>
        <div class="form__boolean">
          <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_who_get_bouqets" value="Я сам" checked />
          <label for="id_who_get_bouqets" class="form__boolean-label">Я сам</label>
        </div>
        <div class="form__boolean">
          <input type="radio" name="who_get_bouqets" class="form__controls-radio who-get" id="id_another_man" value="Другой человек" data-id="another" />
          <label for="id_another_man" class="form__boolean-label">Другой человек</label>
        </div>
      </div>
      <div class="form__item">
        <p class="form__item-title">Ваши контакты</p>
        <div class="form__group-grid">
          <div class="form__group">
            <input
              type="text"
              class="form__controls"
              id="id_first_name"
              value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
              name="first_name"
              placeholder="Имя*"
              required
            />
          </div>
          <div class="form__group">
            <input type="text" class="form__controls" id="id_email" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="Email*" required />
          </div>
          <div class="form__group">
            <input type="text" class="form__controls" id="id_phone_number" name="phone" value="" placeholder="Номер телефона*" required />
          </div>
        </div>
      </div>
      <div class="form__item" id="contact-human">
        <p class="form__item-title">Контакты получателя</p>
        <div class="form__group-grid">
          <div class="form__group">
            <input type="text" class="form__controls" id="id_first_name_human" value="" name="first_name_human" placeholder="Имя*" />
          </div>
          <div class="form__group">
            <input type="text" class="form__controls" id="id_phone_number_human" name="phone_number_human" value="" placeholder="Номер телефона *" />
          </div>
          <div class="form__group">
            <div class="form__group-boolean">
              <input type="checkbox" name="surprise" id="surprise" class="form__controls-checkbox" />
              <label for="surprise" class="form__boolean-label">Сюрприз (не предупреждать получателя)</label>
            </div>
            <div class="form__group-boolean">
              <input type="checkbox" name="anonymous" id="anonymous" class="form__controls-checkbox" />
              <label for="anonymous" class="form__boolean-label">Не говорить от кого</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form__item">
        <p class="form__item-title">Адрес доставки</p>
        <div class="form__group" id="id_delivery_address">
          <input required type="text" data-zones="true" data-city="Иркутск" class="form__controls" placeholder="Улица, дом" id="suggest" name="id_delivery_address" />
          <div id="addressError" class="address-error"></div>
        </div>
        <div class="form__group-boolean">
          <input type="checkbox" name="pickup" id="pickup" class="form__controls-checkbox" />
          <label for="pickup" class="form__boolean-label">Самовывоз</label>
        </div>
        <div class="form__group">
          <input type="text" name="pickup" id="finaladress" class="form__controls" />
        </div>
      </div>
      <div class="form__item">
        <p class="form__item-title">Способ оплаты:</p>
        <div class="form__group">
          <div class="form__group-boolean">
            <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-1" value="На сайте картой" />
            <label class="form__boolean-label" for="id_for_label-1">На сайте картой</label>
          </div>
          <div class="form__group-boolean">
            <input class="form__controls-radio" type="radio" name="payment_option" id="id_for_label-2" value="Курьером при получении" />
            <label class="form__boolean-label" for="id_for_label-2">Курьером при получении</label>
          </div>
        </div>
      </div>
      <button type="submit" class="form__submit">Оформить заказ</button>
    </form>
    <div id="map" style="width: 100vw; max-width: 100%; height: 100vh; position: relative; z-index: 99999; display: block"></div>
  </div>
</div>
