{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page-contact">
	<section class="contact">
		<div class="contact__map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3Afe2db880251e99091f27858413c1ab9b944d271271a6c8b513565ed95c12576b&amp;source=constructor"
				width="100%" height="800" frameborder="0"></iframe>
			<div class="contact__inner">
				<div class="contact__content content-contact">
					<div class="content-contact__body">
						<!-- <h2 class="content-contact__title">Контактная информация</h2> -->
						<div class="content-contact__grid">
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Телефон</span>
									<a href="tel:{{ site_settings.phone }}">{{ site_settings.phone }}</a>
								</div>
								<div class="content-contact__item-right">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Email</span>
									<a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a>
								</div>
								<div class="content-contact__item-right">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Местоположение</span>
									<p>{{ site_settings.address }}</p>
								</div>
								<div class="content-contact__item-right">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Режим работы</span>
									<p>{{ site_settings.time_work }}</p>
								</div>
								<div class="content-contact__item-right">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="contact__form form-contact">
					<h2 class="form-contact__title">Напишите нам !</h2>
					<form action="{% url 'contact_email' %}" method="POST" id="contact-form" class="form-contact__form form">
						{% csrf_token %}
						<div class="form-contact__row">
							{{ form.name }}
							{{ form.phone }}
						</div>
						<div class="form-contact__row">
							{{ form.message }}
						</div>
						<div class="form-contact__row">
							<div class="form-contact__checkbox">
								<input type="checkbox" id="agreement" checked>
								<label for="agreement">Согласие с условиями обработки персональных данных</label>
							</div>
							<button type="submit" class="form__submit">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

</body>
{% endblock %}