{% extends 'base.html' %} {% load static %} {% block content %}

<main class="page-contact">
	<section class="contact">
		<div class="contact__map">
			<iframe
				src="https://yandex.ru/map-widget/v1/?um=constructor%3Afe2db880251e99091f27858413c1ab9b944d271271a6c8b513565ed95c12576b&amp;source=constructor"
				width="100%" height="800" frameborder="0"></iframe>
			<div class="contact__inner">
				<div class="contact__content content-contact">
					<div class="content-contact__body">
						<!-- <h2 class="content-contact__title">Контактная информация</h2> -->
						<div class="content-contact__grid">
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Телефон</span>
									<a href="tel:+79025133003">+7 (902) 513-30-03</a>
								</div>
								<div class="content-contact__item-right">
									<img src="@img/icon/i-phone.svg" alt="" title="">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Email</span>
									<a href="mailto:denta@mail.ru">artflora-irk@yandex.ru</a>
								</div>
								<div class="content-contact__item-right">
									<img src="@img/icon/i-mail.svg" alt="" title="">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Местоположение</span>
									<p>г. Иркутск, ул. Вампилова, д. 2/2;</p>
								</div>
								<div class="content-contact__item-right">
									<img src="@img/icon/i-location.svg" alt="" title="">
								</div>
							</div>
							<div class="content-contact__item">
								<div class="content-contact__item-left">
									<span>Режим работы</span>
									<p>Круглосуточно</p>
								</div>
								<div class="content-contact__item-right">
									<img src="@img/icon/i-time.svg" alt="" title="">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="contact__form form-contact">
					<h2 class="form-contact__title">Напишите нам !</h2>
					<form action="#" class="form-contact__form form">
						<div class="form-contact__row">
							<input type="text" name="name" class="form__controls" placeholder="Ваше имя">
							<input type="text" name="phone" class="form__controls" placeholder="Ваш телефон">
						</div>
						<div class="form-contact__row">
							<textarea name="message" placeholder="Ваше сообщение" rows="5" class="form__controls"></textarea>
						</div>
						<div class="form-contact__row">
							<div class="form-contact__checkbox">
								<input type="checkbox" id="agreement" checked>
								<label for="agreement">Согласие с условиями обработки персональных данных</label>
							</div>
							<button type="submit" class="form__submit">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>

</body>
{% endblock %}