<footer class="footer">
  <div class="footer__container">
    <div class="footer__grid">
      <div class="footer__col">
        <div class="footer__logo">ARTFLORA</div>
        <div class="footer__text">Свежие цветы доставляются бесплатно до двер каждому покупателю.</div>
        <div class="footer__copyright">© 2023 - все права защищены</div>
      </div>
      <div class="footer__col">
        <p class="footer__title">Компания</p>
        <nav class="footer__nav">
          <a href="#">О магазине</a>
          <a href="#">Доставка и оплата</a>
          <a href="#">Отзывы</a>
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title">Магазин</p>
        <nav class="footer__nav">
          <a href="#">Розы</a>
          <a href="#">Букеты</a>
          <a href="#">Повод</a>
          <a href="#">Тип букета</a>
          <a href="#">Игрушки</a>
          <a href="#">Подарки</a>
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title">Полезные ссылки</p>
        <nav class="footer__nav">
          <a href="#">Личный кабинет</a>
          <a href="#">Авторизация</a>
          <a href="#">Контакты</a>
        </nav>
      </div>
      <div class="footer__col">
        <p class="footer__title">Контакты</p>
        <a href="tel:89999999999" class="footer__social">8(999) 999-99-99</a>
        <a href="mailto:artflora-irk@yandex.ru" class="footer__social">artflora-irk@yandex.ru</a>
        <p class="footer__social">г. Иркутск, ул. Вампилова, д. 2/2;</p>
        <!-- <div class="footer__socials">
      <a href=""><img src="" alt=""></a>
    </div> -->
      </div>
    </div>
    <div class="footer__author">Разработка сайта | <a href=""> РА Аврора</a></div>
  </div>
</footer>
